body{
	background: #ffffff;
  font-family: "Garamond";
}


#app{
	width: 40%;
  float: left;
}

#editor-box{
	width: 46%;
	height: 500px;
  float: left;

  #editor{
    width: 58%;
    height: 500px;
    font-size: 11px;
  }

  div{
    display: block;
  }

}