body{
	background: #ffffff;
  font-family: "Optima";
}

a{
  text-decoration: none;
  color: black;
}

#app{
	width: 40%;
  float: left;

  #input{
    margin-top: 50px;
    margin-left: 50px;
  }

  #matrix, #matrix-props{
    font-family:"Monaco";
    color: #96D615;
    margin-top: 50px;
    margin-left: 50px;
  }

  #matrix-props{
    div{
      margin-bottom: 10px;
      color: black;
    }
  }

  #matrix{
    padding: 10px;
    border: 2px solid #E61717;
    border-radius: 2px;
    display: inline-block;

    span{
      padding-right: 10px;
    }
    div{
      padding-bottom: 10px;
    }
  }

}

#toolbar{
  margin-top: 20px;
}

.btn{
  padding: 10px;
  border: 1px solid black;
  margin-right: 20px;

  &:hover{
    background: black;
    color: white;

    transition-property: background, color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &:active{
    background: grey;
  }
}

#editor-box, #editor{
  width: 58%;
  height: 500px;
}

#editor-box{
  float: left;

  #toolbar{
    margin-bottom: 10px;
    margin-top: 20px;

    #save-ind, #error-ind{
      padding: 5px 20px;
      border: 1px solid black;
      background: #EC4545;
      color: white;
      border-radius: 5px;
      float: right;
    }

    #error-ind.success{
      background: #6D863B;
    }
  }

  #editor{
    font-size: 11px;
  }

  div{
    display: block;
  }

}